node_modules
lib/
esm/
cjs/
types/
storybook-static
.idea

.nyc_output
coverage
cypress/videos
cypress/screenshots
cypress/**/__image_snapshots__/*
!cypress/**/__image_snapshots__/*\[Linux\]*
cypress/**/__image_snapshots__/*.diff.*
cypress/**/__image_snapshots__/*.actual.*
