node_modules
cjs
esm
storybook-static
.idea
*.iml
*.tgz

.nyc_output
coverage
cypress/videos
cypress/screenshots
cypress/**/__image_snapshots__/*
!cypress/**/__image_snapshots__/*\[Linux\]*
cypress/**/__image_snapshots__/*.diff.*
cypress/**/__image_snapshots__/*.actual.*
.DS_Store
